.timer{
    background: -webkit-linear-gradient(left, rgb(92, 0, 69) 50%, #eee 50%);
    /* Foreground color, Background colour */
    border-radius: 100%;
    height: 200px;
    /* Height and width */
    position: relative;
    width: 200px;
    /* Height and width */
    -webkit-animation: time 10s steps(10, start) infinite;
    /* Animation time and number of steps */
}
.outerCircle {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 50%;
    z-index:0;
    display:flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: mask 10s steps(5, start) infinite;
    /* Animation time and number of steps (halved) */
    -webkit-transform-origin: 100% 50%;
}
.innerCircle{
    position: relative;
    width:70%;
    z-index:1;
    background: linear-gradient(grey, grey) content-box no-repeat, conic-gradient(blue 25%, 0, green ) border-box;
    display:flex;
    justify-content: center;
}

@-webkit-keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes mask {
    0% {
        background: #eee;
        /* Background colour */
        -webkit-transform: rotate(0deg);
    }
    50% {
        background: #eee;
        /* Background colour */
        -webkit-transform: rotate(-180deg);
    }
    50.01% {
        background: rgb(92, 0, 69);
        /* Foreground colour */
        -webkit-transform: rotate(0deg);
    }
    100% {
        background: rgb(92, 0, 69);
        /* Foreground colour */
        -webkit-transform: rotate(-180deg);
    }
}
.outer-circle{
    position: relative;
    width:90%;
    background: linear-gradient(grey, grey) content-box no-repeat, conic-gradient(yellow 70%, 0, green ) border-box;
    z-index:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.inner-circle{
    position: relative;
    width:70%;
    z-index:1;
    background: linear-gradient(grey, grey) content-box no-repeat, conic-gradient(blue 25%, 0, green ) border-box;
    display:flex;
    justify-content: center;
}